system/flows/bash_cmd_audit.yaml
id: bash_cmd_audit
namespace: system
description: Query Kestra APIs to list flows in a namespace, then use an AI Agent to scan for blacklisted bash commands within those flows.

labels:
  maintainer: "parham"

inputs:
  - id: targetNamespace
    type: STRING
    description: The Kestra namespace to scan for flows.
    defaults: kestra.demo

  - id: openAIModelName
    type: STRING
    description: The name of the OpenAI model to use for the AI Agent.
    defaults: gpt-4o-mini

  - id: blacklistedCommands
    type: ARRAY
    itemType: STRING
    description: A list of bash commands that should be flagged if found in scripts.
    defaults:
      - rm -rf /
      - sudo
      - kill -9
      - mv /
      - cp /
      - dd if=/dev/zero

triggers:
  - id: every_30_minutes
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "*/30 * * * *"
    disabled: true
  
  - id: on_execution
    type: io.kestra.plugin.core.trigger.Flow
    dependsOn:
      - when: "{{ trigger.namespace startsWith 'kestra.demo' }}"


tasks:
  - id: list_flows_in_namespace
    type: io.kestra.plugin.kestra.flows.List
    description: List all flows within the specified namespace.
    namespace: "{{ inputs.targetNamespace }}"
    auth:
      apiToken: "{{ secret('kestra-api-token') }}"

  - id: scan_each_flow
    type: io.kestra.plugin.core.flow.ForEach
    description: Iterate through each discovered flow and analyze its definition.
    values: "{{ outputs.list_flows_in_namespace.flows }}"
    tasks:
      - id: ai_agent_scan
        type: io.kestra.plugin.ai.agent.AIAgent
        description: AI Agent to scan the flow definition for blacklisted commands.
        provider:
          type: io.kestra.plugin.ai.provider.OpenAI
          apiKey: "{{ secret('openai-api-token') }}"
          modelName: "{{ inputs.openAIModelName }}"
        systemMessage: |
          You are a highly specialized security scanner for Kestra flows.
          Your primary task is to meticulously analyze the provided Kestra flow definition, which will be in YAML format.
          Specifically, you must identify any tasks that execute bash, ssh, or generic shell scripts (e.g., tasks of type `io.kestra.plugin.scripts.shell.Script`).
          Within the 'script' or 'commands' properties of these identified tasks, search for any exact occurrences of the following blacklisted commands:
          {{ inputs.blacklistedCommands | join(', ') }}.

          If you detect any of these blacklisted commands, report your findings in a structured, concise manner, including:
          - The `flowId` of the flow being scanned.
          - The `taskId` of the specific task containing the blacklisted command.
          - The exact `blacklisted command` that was found.

          If, after a thorough scan, no blacklisted commands are found in any script within the flow, simply state: "Flow is clean: No blacklisted commands found."
          Your output should be purely textual, without any additional conversational text or explanations beyond the findings.
        prompt: |
          Analyze the following Kestra flow definition:
          
                   {{ taskrun.value | toYaml }}
                   
      - id: log_scan_result
        type: io.kestra.plugin.core.log.Log
        message: |
          --- Flow Scan Report ---
          Flow ID: {{ taskrun.value.id }}
          Namespace: {{ taskrun.value.namespace }}
          AI Agent Scan Output:
          {{ outputs.ai_agent_scan.textOutput }}
          ------------------------

