kestra/solutions.ops/flows/orderItem.yaml
id: orderItem
namespace: solutions.ops

description: |
  Deals with dynamic inputs 
  Has unit tests
  Has an App for ordering products and HITL approval.

variables:
  AVAILABLE: "In Stock"
  LOW: "Low Stock"

labels:
  - key: "maintainer"
    value: "fqazi@kestra.io"
  - key: "kestra.version"
    value: "1.0.x"
  - key: "domain"
    value: "training"
  - key: "feature"
    value: "apps"
  - key: "feature"
    value: "unitTests"
  - key: "feature"
    value: "hitl"

inputs:
  - id: category
    type: SELECT
    expression: "{{ http(uri = 'https://dummyjson.com/products/categories') | jq('.[].slug') }}"
    defaults: fragrances
    displayName: Product Category

  - id: product
    type: SELECT
    displayName: Product Name
    defaults: "Calvin Klein CK One"
    allowCustomValue: true
    dependsOn:
      inputs:
        - category
    expression: "{{ http(uri = 'https://dummyjson.com/products/category/' + inputs.category) | jq('.products[].title') }}"

tasks:
  - id: getProductId
    type: io.kestra.plugin.core.debug.Return
    format: |
      {{ ((http(uri = 'https://dummyjson.com/products/category/' + inputs.category).products | jq('.[] | select(.title == "' ~ inputs.product ~ '")')) | first).id ?? '-1' }}

  - id: getProductDetails
    type: io.kestra.plugin.core.http.Request
    uri: "{{ 'https://dummyjson.com/products/' ~ (outputs.getProductId.value | trim) }}"
    options:
      allowFailed: true

  - id: processOrder
    type: io.kestra.plugin.core.flow.If
    condition: "{{ outputs.getProductDetails.code == 200 and fromJson(outputs.getProductDetails.body).availabilityStatus isIn [vars.AVAILABLE, vars.LOW] }}"
    then:
      - id: checkInventoryAndOrder
        type: io.kestra.plugin.core.flow.Parallel
        runIf: "{{fromJson(outputs.getProductDetails.body).availabilityStatus isIn [vars.AVAILABLE, vars.LOW] }}"
        tasks:
          - id: printInventoryCount
            type: io.kestra.plugin.core.log.Log
            message: "{{ fromJson(outputs.getProductDetails.body).availabilityStatus == vars.LOW ? vars.LOW ~ ' Placing order and sending low stock alert.' : vars.AVAILABLE ~ ' Placing order, enough stock' }}"

          - id: orderItem
            type: io.kestra.plugin.core.debug.Return
            format: Product {{ inputs.product }} Ordered Successfully

          - id: sendRestockAlert
            type: io.kestra.plugin.core.debug.Return
            runIf: "{{fromJson(outputs.getProductDetails.body).availabilityStatus isIn [vars.LOW] }}"
            format: "Restock Alert for {{ inputs.product }} sent successfully!"
    else:
      - id: cancelOrder
        type: io.kestra.plugin.core.debug.Return
        format: "Failed to order '{{ inputs.product }}'. HTTP Status: {{ outputs.getProductDetails.code }}"

  - id: hitlProcess
    type: io.kestra.plugin.core.flow.Sequential
    # runIf order not cancelled i.e cancelOrder => false
    runIf: "{{ (outputs.cancelOrder.value ?? false) == false }}"
    tasks:
      - id: sendApprovalNotification
        type: io.kestra.plugin.core.log.Log
        message: |
          Review request from {{ printContext().labels.system.username ?? 'TestUser' }}\nApprove: {{ appLink() }}&flowInputs={{ inputs | toJson | base64encode }}&requestor={{ printContext().labels.system.username ?? 'Test User' | base64encode }}

      - id: notifyChannel
        type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
        url: "{{ secret(namespace='system', key='SLACK_WEBHOOK') }}"

        messageText: |
          Review order request from {{ printContext().labels.system.username ?? 'TestUser' }}

          Approve/Reject: [Here]({{ appLink() }}&flowInputs={{ inputs | toJson | base64encode }}&requestor={{ printContext().labels.system.username ?? 'Test User' | base64encode }})

      - id: waitForApproval
        type: io.kestra.plugin.core.flow.Pause
        onResume:
          - id: approved
            type: BOOL
            displayName: Approve this request?
          - id: reason
            type: STRING
            displayName: Decision notes
          - id: team
            type: SELECT
            displayName: Cost Center
            values:
              - HR
              - Finance
              - IT

      - id: sendToVendor
        type: io.kestra.plugin.core.debug.Return
        format: |
          Order request for {{ inputs.product }} under Cost Center: {{ outputs.waitForApproval.onResume.team }}, has been {{ outputs.waitForApproval.onResume.approved ? 'approved' : 'rejected' }}.
          Reason: {{ outputs.waitForApproval.onResume.reason }}
          {{ outputs.waitForApproval.onResume.approved ? '' : 'Do not '}}Proceed with invoicing.

      - id: sendPurchaseOrderForFinanceApproval
        type: io.kestra.plugin.core.flow.Subflow
        flowId: purchaseOrderFlow
        namespace: solutions.finance
        inputs:
          productId: "{{ outputs.getProductId.value | trim }}"
          requestor: "{{ printContext().labels.system.username ?? 'TestUser' }}"
          department: "{{ flow.namespace }}"

      - id: financeApprovalStatus
        type: io.kestra.plugin.core.debug.Return
        format: |
          Manager Approved: {{ outputs.sendPurchaseOrderForFinanceApproval.outputs.managerApproved ? '✅' : '❌'}}
          Comments: {{ outputs.sendPurchaseOrderForFinanceApproval.outputs.managerComments }}

outputs:
  - id: orderStatus
    type: STRING
    value: "{{ outputs.processOrder.evaluationResult == false ? outputs.cancelOrder.value : (outputs.orderItem.value ~ ' ' ~ (outputs.sendRestockAlert.value ?? '')) }}"

  - id: invoiceStatus
    type: STRING
    value: "{{ outputs.sendToVendor.value ?? 'Invoicing not done' }}"

  - id: purchaseOrderStatus
    type: STRING
    value: "{{ outputs.financeApprovalStatus.value ?? 'Purchase Order not sent' }}"
