kestra/solutions.github_integration/flows/github_demo_with_gitclone.yml
id: github_demo_with_gitclone
namespace: solutions.github_integration
description: |
  Clone scripting files from a git repo and use within a working dir.

  ### NOTES
  Best Practices:
    - Best to use one working dir per flow. Create subflows if needed.
    - Do not nest more than one working dir. Use subflows instead.
    - Do not nest working dirs within multiple ForEach loops.
# revision X

labels:
  - key: demo
    value: github_integration
  - key: maintainer
    value: pparvizi@kestra.io
  - key: concepts 
    value: git-clone, working-dir


inputs:
  - id: branch
    type: STRING
    defaults: "kestra"

tasks:
  - id: hello
    type: io.kestra.plugin.core.log.Log
    message: Github integration demo flow! 🚀
    
  # ==== WorkingDir ====
  # 1) create a working dir to share files within subsequent tasks
  - id: my_working_dir
    type: io.kestra.plugin.core.flow.WorkingDirectory
    tasks:
      # ==== clone git ====
      # 2) clone a git repo with the working dir.
      #    script files are cloned into the working dir.
      - id: clone_git
        type: io.kestra.plugin.git.Clone
        url: "https://github.com/xdatanomad/kestra-demo.git"
        username: xdatanomad
        password: "{{ secret('github_token')}}"
        branch: "{{ inputs.branch }}"

      # sample datafile for scripting tasks below
      - id: create_csv
        type: io.kestra.plugin.core.storage.Write
        content: |
          first_name,last_name,email,signup_date
          Ada,Lovelace,ada@example.com,1843-12-10
          Grace,Hopper,grace@example.com,1906-12-09
          Katherine,Johnson,kj@example.com,1918-08-26
        extension: ".csv"

      # run a bash scritp from cloned files
      - id: shell_task
        type: io.kestra.plugin.scripts.shell.Commands
        commands:
          # debugging: check for the file
          - echo "cwd=$(pwd)"
          - realpath kestra/solutions/github_integration/files/pre-process/check.sh
          # make sure bash script is executable
          - chmod +x kestra/solutions/github_integration/files/pre-process/check.sh
          # run the script
          - ./kestra/solutions/github_integration/files/pre-process/check.sh "{{ outputs.create_csv.uri }}"

      # run a python script from cloned files
      - id: python_task
        type: io.kestra.plugin.scripts.python.Commands
        containerImage: python:3.13-slim
        taskCache:
          enabled: true
        dependencies:
          - pandas
          - click
        commands:
          - python3 kestra/solutions/github_integration/files/pre-process/pre_process.py --input-file="{{ outputs.create_csv.uri }}" --column-names="first_name,last_name,email"