solutions.data/flows/file_trigger_etl.yaml
id: file_trigger_etl
namespace: solutions.data
labels:
  - key: "maintainer"
    value: "paul"
concurrency:
  behavior: QUEUE
  limit: 1

triggers:
  - id: s3
    type: io.kestra.plugin.aws.s3.Trigger
    interval: "PT1M"
    accessKeyId: "{{secret(namespace='system',key='AWS_ACCESS_KEY')}}"
    secretKeyId: "{{secret(namespace='system',key='AWS_SECRET_KEY')}}"
    region: "eu-west-1"
    bucket: kestra-ie
    prefix: etl-demo-
    action: DELETE

retry:
  type: constant
  behavior: RETRY_FAILED_TASK
  maxAttempts: 3
  interval: "PT5S"

errors:
  - id: slack
    type: io.kestra.plugin.core.flow.Subflow
    namespace: solutions.notifications
    flowId: slack_alert
    inputs:
      text: |
        Failed flow {{flow.namespace}}.{{flow.id}} id: {{execution.id}}. Please see details here: 
          https://partners.kestra.cloud/ui/demo/executions/{{flow.namespace}}/{{flow.id}}/{{execution.id}}/logs

tasks:
  - id: each
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{trigger.objects|jq('.[].uri')}}"
    concurrencyLimit: 2
    tasks:    
    - id: jsonToIon
      type: io.kestra.plugin.serdes.json.JsonToIon
      from: "{{taskrun.value}}"
      newLine: false
    - id: insert_raw_data
      type: io.kestra.plugin.jdbc.postgresql.Batch
      from: "{{outputs.jsonToIon[taskrun.value].uri}}"
      url: "{{secret('JDBC_CONNECTION_STRING')}}"
      username: "{{secret('PG_USERNAME')}}"
      password: "{{secret('PG_PASSWORD')}}"
      sql: |
        insert into kestraDemoRaw(id,qty,val,created_at) values(?,?,?,?)
    - id: dbt
      type: io.kestra.plugin.dbt.cli.Run
      dbtPath: /usr/local/bin/dbt
      containerImage: ghcr.io/kestra-io/dbt-postgres
      namespaceFiles:
        enabled: true
      profiles: |
        kestraDemo:
          target: dev
          outputs:
            dev:
              type: postgres
              host: "{{secret('PG_HOST')}}"
              user: "{{secret('PG_USERNAME')}}"
              password: "{{secret('PG_PASSWORD')}}"
              port: {{secret('PG_PORT')}}
              dbname: kestra
              schema: public
              threads: 1

