solutions.ai/flows/customer_health_info.yaml
id: customer_health_info
namespace: solutions.ai

inputs:
  - id: orgName
    displayName: Organziation Name
    type: SELECT
    expression: "{{ fromJson((kv('pylon_account_ids') | keys) | toJson) }}"

tasks:
  - id: get_org_licenses
    type: io.kestra.plugin.core.http.Request
    uri: https://console.kestra.io/api/v1/admin/licenses?type=CUSTOMER&expirationDateAfter={{ execution.startDate | date("YYYY-MM-dd") }}&organizationId={{ kv('console_org_ids')[inputs.orgName] }}
    headers:
      authorization: "Bearer {{ secret(key='KESTRA_CLOUD_API_TOKEN', namespace='system') }}"

  - id: get_pylon_issues
    type: io.kestra.plugin.core.http.Request
    uri: https://api.usepylon.com/issues/search
    method: POST
    headers:
      authorization: "Bearer {{ secret(key='PYLON_TOKEN', namespace='system') }}"
    body: |
      {
        "filter": {
          "operator": "and",
          "subfilters": [
            {
              "field": "account_id",
              "operator": "equals",
              "value": "{{ kv('pylon_account_ids')[inputs.orgName] }}"
            },
            {"field": "state", "operator": "not_in", "values": ["closed"]}
          ]
        }
      }

  - id: trigger_lighdash_query
    type: io.kestra.plugin.core.http.Request
    uri: "https://lightdash.kestra.io/api/v2/projects/{{ vars.LIGHT_DASH_PROJECT_ID }}/query/dashboard-chart"
    method: POST
    retry:
      maxAttempts: 3
      interval: PT5S
      type: exponential
      maxInterval: PT60S
    headers:
      Authorization: "ApiKey {{ secret('LIGHT_DASH_TOKEN') }}"
    body: |
      {
        "context": "dashboardView",
        "chartUuid": "e6f0a726-5cce-4c83-aedc-155a7f4e9f14",
        "dashboardUuid": "b2e56625-71ba-413f-873a-aba9f67d6687",
        "dashboardFilters": {
          "dimensions": [
            {
              "id": "decfebb7-dfaa-4753-8c9a-ae70b41831e8",
              "operator": "equals",
              "target": {
                "fieldId": "dim__instances_kestra_license_id",
                "tableName": "dim__instances"
              },
              "disabled": false,
              "values": {{ fromJson(outputs.get_org_licenses.body).results | jq('.[].id') }}
            }
          ],
          "metrics": [],
          "tableCalculations": []
        },
        "dashboardSorts": [],
        "limit": 2,
        "invalidateCache": false,
        "parameters": {}
      }

  - id: wait_for_link
    type: io.kestra.plugin.core.flow.LoopUntil
    checkFrequency:
      interval: PT30S
      maxDuration: PT5M
      maxIterations: 5
    condition: "{{ fromJson(outputs.generate_download_link.body).status == 'ok' }}"
    tasks:
      - id: generate_download_link
        type: io.kestra.plugin.core.http.Request
        uri: "https://lightdash.kestra.io/api/v2/projects/{{ vars.LIGHT_DASH_PROJECT_ID}}/query/{{ fromJson(outputs.trigger_lighdash_query.body).results.queryUuid }}/download"
        method: POST
        retry:
          maxAttempts: 5
          interval: PT30S
          type: exponential
          maxInterval: PT300S
        headers:
          Authorization: "ApiKey {{ secret('LIGHT_DASH_TOKEN') }}"
        body: |
          {
            "type": "csv",
            "onlyRaw": false,
            "showTableNames": true,
            "columnOrder": [
              "fct__instances__daily_weekly_periods_since_now",
              "fct__instance_flow_executions__daily_total_flow_runs"
            ],
            "hiddenFields": [],
            "attachmentDownloadName": "Weekly-Executions"
          }

  - id: download_file
    type: io.kestra.plugin.core.http.Download
    uri: "{{ fromJson(outputs.generate_download_link.body).results.fileUrl }}"
    retry:
      maxAttempts: 3
      interval: PT5S
      type: exponential
      maxInterval: PT60S
    headers:
      Authorization: "ApiKey {{ secret('LIGHT_DASH_TOKEN') }}"

  - id: calculate_wow_growth
    type: io.kestra.plugin.scripts.python.Script
    dependencies:
      - kestra
    namespaceFiles:
      enabled: true
      include:
        - customer_health_score_utils.py
    script: |
      from kestra import Kestra
      from customer_health_score_utils import parse_lightdash_csv_data
      with open("{{ outputs.download_file.uri }}", "r") as fp:
        ADOPTION_DATA_JSON = fp.read()

      current_period_runs, previous_period_runs = parse_lightdash_csv_data(
        ADOPTION_DATA_JSON
      )
      # Calculate Week-over-Week (WoW) Growth
      wow_growth_percent = 0.0
      if previous_period_runs > 0:
        wow_growth_percent = (
            current_period_runs - previous_period_runs
        ) / previous_period_runs
      elif current_period_runs > 0:
        # Handle the case where the previous period had zero runs but the current one is active (Max score)
        wow_growth_percent = (
          1.0  # Cap at 100% or use a high value to signify strong growth
        )

      # Max score if growth meets or exceeds the goal
      if wow_growth_percent >= {{ vars.GROWTH_GOAL_PERCENT }}:
          active_flows_score = {{ vars.WEIGHTS.ACTIVE_FLOWS }}
      # Scale score based on growth relative to the goal (e.g., half the goal gets half the points)
      elif wow_growth_percent > 0:
          active_flows_score = (wow_growth_percent / {{ vars.GROWTH_GOAL_PERCENT }}) * {{ vars.WEIGHTS.ACTIVE_FLOWS }}
      # Apply proportional penalty for negative growth
      else:
          # Cap negative scaling to 0 points (no penalty below -100%)
          active_flows_score = max(wow_growth_percent * {{ vars.WEIGHTS.ACTIVE_FLOWS }}, 0)

      Kestra.outputs({'wow_growth_percent': wow_growth_percent, 'current_period_runs': current_period_runs, 'previous_period_runs': previous_period_runs, 'active_flows_score': active_flows_score})

  - id: calculate_flow_success_score
    type: io.kestra.plugin.scripts.python.Script
    dependencies:
      - kestra
    script: |
      from kestra import Kestra
      # MOCK Data to be replaced with lighdash query
      flow_success_rate = 0.75
      score = flow_success_rate * {{ vars.WEIGHTS.SUCCESS_RATE }}
      Kestra.outputs({'flow_success_score': score})

  - id: calculate_pylon_score
    type: io.kestra.plugin.scripts.python.Script
    dependencies:
      - kestra
    namespaceFiles:
      enabled: true
      include:
        - customer_health_score_utils.py
    script: |
      from kestra import Kestra
      from customer_health_score_utils import analyze_pylon_issues

      p1_p2_count, overall_sentiment, p0_count = analyze_pylon_issues({{ fromJson(outputs.get_pylon_issues.body).data | jq('.[] | {id: .id, state: .state, custom_fields: {priority: .custom_fields.priority, sentiment_analysis: .custom_fields.sentiment_analysis } }') ?? [] }})

      # 2a. Pylon Risk Score (Penalty)
      pylon_risk_score = 0

      if p0_count > 0:
        # Tier 0: Apply max penalty if any critical tickets are open
        pylon_risk_score = {{ vars.WEIGHTS.PYLON_RISK_MAX }}
      elif p1_p2_count == 1:
        # Tier 1: Smallest penalty for 1 open high ticket
        pylon_risk_score = {{ vars.WEIGHTS.PYLON_PENALTY_LOW }}
      elif p1_p2_count == 2:
        # Tier 2: Moderate penalty for 2 open high tickets
        pylon_risk_score = {{ vars.WEIGHTS.PYLON_PENALTY_MEDIUM }}
      elif p1_p2_count >= 3:
        # Tier 3: Maximum penalty for 3 or more open high tickets (True Crisis)
        pylon_risk_score = {{ vars.WEIGHTS.PYLON_PENALTY_HIGH }}

      # 2b. Sentiment Score (10 points)

      sentiment_score = 0
      if overall_sentiment == "positive":
          sentiment_score = 10
      elif overall_sentiment == "neutral":
          sentiment_score = 5

      Kestra.outputs({'p1_p2_count': p1_p2_count,'overall_sentiment': overall_sentiment,'p0_count': p0_count, 'pylon_risk_score': pylon_risk_score, 'sentiment_score': sentiment_score})

  - id: calculate_license_score
    type: io.kestra.plugin.scripts.python.Script
    dependencies:
      - kestra
      - pendulum
    namespaceFiles:
      enabled: true
      include:
        - customer_health_score_utils.py
    script: |
      from kestra import Kestra
      from customer_health_score_utils import analyze_license_risk
      import json

      # Mock Data. To be replaced by QBR Dates
      DAYS_SINCE_LAST_CADENCE = 65

      # --- 3. Scoring - Financial & Relationship (Weights: 10 + 10 = 20 points) ---

      # 3a. License Expiry Risk (10 points)

      days_to_expiry = 0
      license_score = 0

      days_to_expiry = analyze_license_risk(json.loads('{{ fromJson(outputs.get_org_licenses.body).results }}'))

      # Calculate License Score (10% max weight)
      # 60+ days (Green) = 10 points
      # 30-60 days (Yellow) = 5 points
      # < 30 days (Red) = 0 points
      # Negative days (CRITICAL) = 0 points

      if days_to_expiry >= 60:
          license_score = {{ vars.WEIGHTS.LICENSE_EXPIRY }}
      elif days_to_expiry >= 30:
          license_score = {{ vars.WEIGHTS.LICENSE_EXPIRY }} * 0.5
      else:
          license_score = 0

      # 3b. Cadence/Relationship Score (10 points)
      cadence_score = 0
      if DAYS_SINCE_LAST_CADENCE < 90:
          cadence_score = 10
      elif DAYS_SINCE_LAST_CADENCE < 180:
          cadence_score = 5
      else:
          cadence_score = 0

      Kestra.outputs({'license_score': license_score,'cadence_score': cadence_score,'days_to_expiry': days_to_expiry,'days_since_last_cadence': DAYS_SINCE_LAST_CADENCE})

  - id: generate_metrics_output
    type: io.kestra.plugin.scripts.python.Script
    dependencies:
      - kestra
    script: |
      from kestra import Kestra

      # Adoption Metrics
      metrics_output = {}
      metrics_output["success_score"] = round({{ outputs.calculate_flow_success_score.vars.flow_success_score }}, 1)
      metrics_output["active_flows_score"] = round({{ outputs.calculate_wow_growth.vars.active_flows_score }}, 1)
      metrics_output["current_period_runs"] = {{ outputs.calculate_wow_growth.vars.current_period_runs }}
      metrics_output["previous_period_runs"] = {{ outputs.calculate_wow_growth.vars.previous_period_runs }}
      metrics_output["wow_growth_percent"] = round(
          {{ outputs.calculate_wow_growth.vars.wow_growth_percent }} * 100, 1
      )  # Output as % for report

      # Pylon Metrics
      metrics_output["pylon_p1_p2_count"] = {{ outputs.calculate_pylon_score.vars.p1_p2_count }}
      metrics_output["pylon_p0_count"] = {{ outputs.calculate_pylon_score.vars.p0_count }}
      metrics_output["overall_sentiment"] = "{{ outputs.calculate_pylon_score.vars.overall_sentiment }}"
      metrics_output["pylon_risk_score"] = {{ outputs.calculate_pylon_score.vars.pylon_risk_score }}
      metrics_output["sentiment_score"] = {{ outputs.calculate_pylon_score.vars.sentiment_score }}

      # License Metrics
      metrics_output["days_to_expiry"] = {{ outputs.calculate_license_score.vars.days_to_expiry }}
      metrics_output["license_score"] = {{ outputs.calculate_license_score.vars.license_score }}
      metrics_output["cadence_score"] = {{ outputs.calculate_license_score.vars.cadence_score }}
      metrics_output["days_since_last_cadence"] = {{ outputs.calculate_license_score.vars.days_since_last_cadence }}


      Kestra.outputs({'metrics_output': metrics_output})

  - id: generate_health_score
    type: io.kestra.plugin.scripts.python.Script
    dependencies:
      - kestra
    script: |
      from kestra import Kestra

      health_score = 0

      # Adoption Metrics
      health_score += {{ outputs.calculate_flow_success_score.vars.flow_success_score }}
      health_score += {{ outputs.calculate_wow_growth.vars.active_flows_score }}

      # Pylon Metrics
      health_score += {{ outputs.calculate_pylon_score.vars.pylon_risk_score }}
      health_score += {{ outputs.calculate_pylon_score.vars.sentiment_score }}

      # License Metrics
      health_score += {{ outputs.calculate_license_score.vars.license_score }}
      health_score += {{ outputs.calculate_license_score.vars.cadence_score }}

      # --- Final Determination ---

      final_score_rounded = max(
          0, min(100, round(health_score))
      )  # Keep score between 0 and 100

      health_status = "Green"
      if final_score_rounded < 30:
          health_status = "Red"
      elif final_score_rounded < 60:
          health_status = "Yellow"

      Kestra.outputs({'final_score_rounded': final_score_rounded, 'health_status': health_status })

  - id: generate_chs_data
    type: io.kestra.plugin.scripts.python.Script
    dependencies:
      - kestra
    script: |
      from kestra import Kestra
      # --- Kestra Output ---
      import json

      CHS_DATA = {
          "account_id": "{{ inputs.orgName }}",
          "final_score": {{ outputs.generate_health_score.vars.final_score_rounded }},
          "status": "{{ outputs.generate_health_score.vars.health_status }}",
          "metrics": {{ outputs.generate_metrics_output.vars.metrics_output }},
      }
      print(json.dumps(CHS_DATA))
      # Convert Python dictionary to a JSON string, which will be injected into the JavaScript block
      chs_json_string = json.dumps(CHS_DATA, indent=4)

      Kestra.outputs({'chs_json_string': chs_json_string })

  - id: generate_html
    type: io.kestra.plugin.scripts.python.Script
    namespaceFiles:
      enabled: true
      include:
        - chs_dashboard.html
    script: |
      html_content = """{{ render(read('chs_dashboard.html')) }}"""
      with open("dashboard.html", "w") as fp:
        fp.write(html_content)
    outputFiles:
      - dashboard.html

variables:
  WEIGHTS:
    SUCCESS_RATE: 35 # Mission-Critical Flow Success Rate
    ACTIVE_FLOWS: 15 # Breadth of Adoption (Measured by WoW Execution Growth)
    PYLON_RISK_MAX: -20 # Penalty for P0 Open Tickets
    PYLON_PENALTY_LOW: -5 # Penalty for 1 open P1/P2
    PYLON_PENALTY_MEDIUM: -10 # Penalty for 2 open P1/P2
    PYLON_PENALTY_HIGH: -15 # Penalty for 3+ open P1/P2
    LICENSE_EXPIRY: 10 # Financial Risk
    SENTIMENT: 10 # Customer Sentiment (from Pylon)
    CADENCE: 10 # Relationship Health
  # Thresholds for Scoring
  GROWTH_GOAL_PERCENT: 0.10 # Target WoW growth rate (10% growth = 15 points)
  LIGHT_DASH_PROJECT_ID: e6c69601-0468-4aef-8962-43f7282701a3

description: |
  Category|Component|Weight (Points out of 100)|Metric Definition & Healthy Threshold| Rationale
  --------|---------|--------------------------|-----------------------------------------|---|
  I. Value Realization (Technical Success)|Flow Success Rate|35 points|Percentage of mission-critical flow runs that finished successfully over the last 30 days. Healthy Target: 98% or higher.|Highest Weight This is the ultimate measure of product functionality. If mission-critical flows fail, the customer's business process fails. This metric directly determines product efficacy and is the single most powerful leading indicator of Churn Risk. No account can be truly healthy if its core function is unstable.|
  ||Active Flow Growth (WoW)|15 points|Percentage growth in total flow runs (all users) this week vs. last week. Healthy Target: >0% growth. (Positive activity is rewarded).|Measures adoption depth and stickiness. Consistent or growing week-over-week activity confirms the customer is integrating Kestra into their routine. High growth is a strong expansion signal, justifying a high weight.|
  II. Technical Risk (Support)|Pylon Risk (P1/P2)|-15 points (Penalty)|Calculated based on open high-priority tickets. Critical Threshold: Any P1 or P2 open ticket immediately triggers the full -15 point penalty.|This is a pure penalty and represents the highest technical friction. Any active P1 or P2 (critical or major) issue means the customer's operation is blocked, demanding immediate Solution Engineering intervention. The severity justifies removing 15% of the total score immediately.|
  ||Ticket Sentiment|10 points|"Derived sentiment from open ticket bodies (via Pylon's analysis). Healthy Target: Predominantly ""positive"" or ""neutral"" sentiment across open issues."|Captures the qualitative mood of the technical relationship. While ticket count can be misleading (a good customer may submit many tickets), consistently negative sentiment is a clear sign of frustration, amplifying the churn risk signaled by other metrics.|
  III. Commercial & Relationship|License Risk|10 points|Based on the earliest non-expired license. Healthy Target: License expiration is >180 days away.|Measures relationship health and executive alignment. Regular strategic cadence ensures the customer's roadmap and ROI are constantly being reviewed. A lapse in cadence (exceeding 90 days) means a loss of alignment and a higher chance of a surprise non-renewal.|
  ||Cadence|15 points|Days since the last strategic QBR or Executive Sync meeting. Healthy Target: Last meeting occurred <90 days ago.|Measures commercial urgency. While an important factor, it's weighted less than Value Realization because a customer will renew an effective product, even if the date is close. The score heavily penalizes licenses approaching 90 days or those already expired.|
  Total Score||100 Points|

labels:
  - key: "maintainer"
    value: "caxe"
  - key: "kestra.version"
    value: "1.0.6"
  - key: "feature"
    value: "apps"
  - key: "domain"
    value: "analytics"
