solutions.ai/apps/solutions.ai-solutions_ai_customer_health_info.yaml
id: solutions_ai_customer_health_info
type: io.kestra.plugin.ee.apps.Execution
namespace: solutions.ai
description: |
  Category|Component|Weight (Points out of 100)|Metric Definition & Healthy Threshold| Rationale\r

  --------|---------|--------------------------|-----------------------------------------|---|\r

  I. Value Realization (Technical Success)|Flow Success Rate|35 points|Percentage of mission-critical flow runs that finished successfully over the last 30 days. Healthy Target: 98% or higher.|Highest Weight This is the ultimate measure of product functionality. If mission-critical flows fail, the customer's business process fails. This metric directly determines product efficacy and is the single most powerful leading indicator of Churn Risk. No account can be truly healthy if its core function is unstable.|\r

  ||Active Flow Growth (WoW)|15 points|Percentage growth in total flow runs (all users) this week vs. last week. Healthy Target: >0% growth. (Positive activity is rewarded).|Measures adoption depth and stickiness. Consistent or growing week-over-week activity confirms the customer is integrating Kestra into their routine. High growth is a strong expansion signal, justifying a high weight.|\r

  II. Technical Risk (Support)|Pylon Risk (P1/P2)|-15 points (Penalty)|Calculated based on open high-priority tickets. Critical Threshold: Any P1 or P2 open ticket immediately triggers the full -15 point penalty.|This is a pure penalty and represents the highest technical friction. Any active P1 or P2 (critical or major) issue means the customer's operation is blocked, demanding immediate Solution Engineering intervention. The severity justifies removing 15% of the total score immediately.|\r

  ||Ticket Sentiment|10 points|\"Derived sentiment from open ticket bodies (via Pylon's analysis). Healthy Target: Predominantly \"\"positive\"\" or \"\"neutral\"\" sentiment across open issues.\"|Captures the qualitative mood of the technical relationship. While ticket count can be misleading (a good customer may submit many tickets), consistently negative sentiment is a clear sign of frustration, amplifying the churn risk signaled by other metrics.|\r

  III. Commercial & Relationship|License Risk|10 points|Based on the earliest non-expired license. Healthy Target: License expiration is >180 days away.|Measures relationship health and executive alignment. Regular strategic cadence ensures the customer's roadmap and ROI are constantly being reviewed. A lapse in cadence (exceeding 90 days) means a loss of alignment and a higher chance of a surprise non-renewal.|\r

  ||Cadence|15 points|Days since the last strategic QBR or Executive Sync meeting. Healthy Target: Last meeting occurred <90 days ago.|Measures commercial urgency. While an important factor, it's weighted less than Value Realization because a customer will renew an effective product, even if the date is close. The score heavily penalizes licenses approaching $90$ days or those already expired.|\r

  Total Score||100 Points|
displayName: Generate Customer Health Info
flowId: customer_health_info

access:
  type: PRIVATE
  catalog: true

layout:
  - on: OPEN
    blocks:
      - type: io.kestra.plugin.ee.apps.core.blocks.Markdown
        content: |
          ## Generate Weekly Customer Health Statistics
      - type: io.kestra.plugin.ee.apps.execution.blocks.CreateExecutionForm
      - type: io.kestra.plugin.ee.apps.execution.blocks.CreateExecutionButton
        text: Generate
  - on: RUNNING
    blocks:
      - type: io.kestra.plugin.ee.apps.core.blocks.Markdown
        content: |
          Execution is in progress.
      - type: io.kestra.plugin.ee.apps.core.blocks.Loading
      - type: io.kestra.plugin.ee.apps.execution.blocks.Logs
        filter:
          logLevel: INFO
      - type: io.kestra.plugin.ee.apps.execution.blocks.CancelExecutionButton
        text: Cancel request
  - on: SUCCESS
    blocks:
      - type: io.kestra.plugin.ee.apps.core.blocks.Markdown
        content: |
          ## Execution successfully completed
      - type: io.kestra.plugin.ee.apps.core.blocks.Alert
        style: SUCCESS
        showIcon: true
        content: Your execution outputs
      - type: io.kestra.plugin.ee.apps.execution.blocks.TaskOutputs
        outputs:
          - displayName: CHS Report
            type: FILE
            value: '{{ outputs.generate_html.outputFiles["dashboard.html"] }}'
  - on: FAILURE
    blocks:
      - type: io.kestra.plugin.ee.apps.core.blocks.Alert
        content: "Failure: Something Happened"
        style: ERROR
  - on: FALLBACK
    blocks:
      - type: io.kestra.plugin.ee.apps.core.blocks.Alert
        content: "Execution is in Progress. Retrying!"
        style: WARNING
      - type: io.kestra.plugin.ee.apps.core.blocks.Loading
      - type: io.kestra.plugin.ee.apps.core.blocks.AutoRefresh
      - type: io.kestra.plugin.ee.apps.execution.blocks.Logs
        filter:
          logLevel: INFO
  - on: ERROR
    blocks:
      - type: io.kestra.plugin.ee.apps.core.blocks.Alert
        content: "Error: Something Happened"
        style: ERROR
